body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  border-left: 5px solid #333;
  padding-left: 5px;
}

button {
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
}

.buttons-container {
  margin-top: 15px;
}

#defaultCanvas0 {
  border: 1px solid black;
}
